/*Styles applied to entire DOM*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Styles applied to body*/
body {
    background-color: #d9dcd6;
}

/*Styles applied to header*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*Styles applied to larger header text*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/*Style applied to the letters "seo" in "Horiseon"*/
.header h1 .seo {
    color: #d9dcd6;
}

/*Styles applied to smaller heading text*/
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*Style applied to unordered list in header*/
.header nav ul {
    list-style-type: none;
}

/*Styles applied to list items in unordered list in header*/
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/*Styles applied to hyperlinks in header*/
a {
    color: #ffffff;
    text-decoration: none;
}

/*Style applied to all paragraphs in DOM*/
p {
    font-size: 16px;
}

/*Styles applied to main image under header*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*Styles applied to seo and social media marketing pictures*/
.float-left {
    float: left;
    margin-right: 25px;
}

/*Styles applied to online reputation management picture*/
.float-right {
    float: right;
    margin-left: 25px;
}

/*Styles applied to the seo, online reputation management, and social media marketing section*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*Styles applied to the seo, online reputation management, and social media marketing elements*/
.services {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.services img {
    max-height: 200px;
}

.services h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*Styles applied to lead generation, brand awareness, and cost mamagement section*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    color: #ffffff;
}

.benefits-lbc {
    margin-bottom: 32px;
}

.benefits-lbc h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*Styles applied to IMAGES in lead generation, brand awareness, and cost mamagement section*/ 
.benefits-lbc img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*Styles applied to the footer*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
